.dark .D9WLyEQaARfWqCTyVrpU {
  background: #111827c4;
  box-shadow: none !important;
  color: white !important;
  border-color: #ffffff6a;
}

.dark .pOvRwHj19chJGkgemUH3 ._M8cCug8H18ALQ05cNMt {
  color: white;
}
