.rbc-toolbar-label {
    font-weight: bold;
    font-size: 1.5rem;
}

.event-calendar-dark .rbc-btn-group button {
    color: white;
}

.event-calendar-dark .rbc-btn-group button:hover {
    background-color: #0362F3FF;
    color: white;
    /* Assuming bgHoverColor is a custom CSS variable */
    transform: scale(1.05);
    /* Equivalent to 'hover:scale-105' */
    box-shadow: 0 10px 15px -3px rgba(3, 98, 243, 1), 0 4px 6px -2px rgba(3, 98, 243, 1);
    /* Equivalent to 'hover:shadow-lg hover:shadow-[#0362F3FF]' */
}

.event-calendar-light .rbc-btn-group button:hover {
    background-color: #0362F3FF;
    color: white;
    /* Assuming bgHoverColor is a custom CSS variable */
    transform: scale(1.05);
    /* Equivalent to 'hover:scale-105' */
    box-shadow: 0 10px 15px -3px rgba(3, 98, 243, 1), 0 4px 6px -2px rgba(3, 98, 243, 1);
    /* Equivalent to 'hover:shadow-lg hover:shadow-[#0362F3FF]' */
}

.event-calendar-dark .rbc-off-range-bg {
    background-color: #1f1f1f;
}

.rbc-current .rbc-button-link {
    color: #1f1f1f;
}

.rbc-event:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition-duration: 300ms;
}