footer a:hover {
  color: #5151d5;
  text-decoration: underline;
}

footer a:hover {
  color: #ffdd57;
  text-decoration: underline;
}

.footer-background {
  background-image: url('/Images/footer.jpg');
  background-size: cover;
  background-position: center;
}

.footer-top-bg {
  background-image: url('/Images/footer-top.png');
  background-size: cover;
  background-position: center;
  mix-blend-mode: screen;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.acess-btn {
  animation: rotate 3s linear infinite !important;
}