/* Popins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Default Font as Popins */
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

/* custom navigation home page slider */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
  background: #000;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 99 !important;
  transition: all 0.4s;
}

.swiper-button-next {
  right: 80px !important;
  z-index: 99 !important;
  display: block !important;
}

.swiper-button-prev {
  left: 80px !important;
  z-index: 999 !important;
  display: block !important;
}
